# An introduction to seaborn
<br>

URL: https://seaborn.pydata.org/tutorial/introduction.html

## Seaborn 모듈 설치

In [ ]:
# !pip install seaborn
# !pip install --upgrade seaborn

## matplotlib.pyplot.show() 자동 호출 설정

In [ ]:
%matplotlib inline

In [1]:
import matplotlib.pyplot as plt

plt.ion()

# 반대의 경우,
# plt.ioff()

## Seaborn 모듈 불러오기

In [2]:
import seaborn as sns

In [3]:
sns.__version__

'0.12.2'

## Seaborn 테마 설정

In [4]:
# 기본 테마로 설정.
sns.set_theme()

## 예제 데이터 셋 불러오기

In [11]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## 시각화

In [ ]:
sns.relplot(
    data=tips,
    x='total_bill',
    y='tip',
    col='time',
    hue='smoker',
    style='smoker',
    size='size'
);